<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="HourlyFrequency" value="5"/>
    <add key="DailyFrequency" value="20"/>
    <add key="WeeklyFrequency" value="60"/>
    <add key="FamilyDiscount" value="30"/>
    <add key="RepositoryType" value="TestRepository"/>
  </appSettings>
</configuration>